/local.properties
local.properties
/build
build/
/captures
.DS_Store
.externalNativeBuild
.cxx
*.apk
*.aar
*.ap_
*.aab
*.iml
/app/release/
.gradle
.gradle/
*.log
captures/
.externalNativeBuild/
.cxx/
output.json

.idea/
/.idea/caches
/.idea/libraries
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
